.course-detail-section .course-detail-wrapper .course-tabs-wrapper .nav {
    display: inline-flex;
    gap: clamp(2px, 0.208vw, 8px);
    row-gap: 24px;
    border: 0px;
    position: relative;
    width: 100%;
}
.course-detail-section .course-detail-wrapper .course-tabs-wrapper .nav .nav-item {
    width: 24.66%;
}
.course-detail-section .course-detail-wrapper .course-tabs-wrapper .nav .nav-item .nav-link.active {
    font-weight: 500;
    background: #004439;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;
    border: 0px;
}
.course-detail-section .course-detail-wrapper .course-tabs-wrapper .nav .nav-item .nav-link {
    width: 100%;
    color: #45474F;
    font-family: "Inter", sans-serif;
    font-size: clamp(16px, 0.938vw, 22px);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    border: 0px;
    border-radius: clamp(2px, 0.208vw, 8px);
    padding: clamp(10px, 0.859vw, 32px);
    background: #EAEAEC;
    position: relative;
}
.course-detail-section .course-detail-wrapper .course-tabs-wrapper .nav .nav-item {
    width: 24.66%;
}
.course-detail-section .course-detail-wrapper .course-tabs-wrapper .nav .nav-item .nav-link {
    width: 100%;
    color: #45474F;
    font-family: "Inter", sans-serif;
    font-size: clamp(16px, 0.938vw, 22px);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    border: 0px;
    border-radius: clamp(2px, 0.208vw, 8px);
    padding: clamp(10px, 0.859vw, 32px);
    background: #EAEAEC;
    position: relative;
}
.mb-32 {
    margin-bottom: 32px;
}
.mt-32 {
    margin-top: 32px;
}
.mb-16 {
    margin-bottom: 16px;
}
.fw-700 {
    font-weight: 700;
}
.dark-gray {
    color: #45474F !important;
}
h6, .h6 {
    font-family: "Space Grotesk", sans-serif;
    font-size: clamp(20px, 1.198vw, 32px);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: #0C0C0D;
    margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6, address, p, pre, blockquote, table, hr {
    margin: 0;
}
.black {
    color: #0C0C0D !important;
}
h5, .h5 {
    font-family: "Space Grotesk", sans-serif;
    font-size: clamp(24px, 1.458vw, 38px);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.gap-16 {
    gap: clamp(12px, 0.833vw, 32px);
}
.fw-500 {
    font-weight: 500;
}
.text-18, p {
    font-family: "Inter", sans-serif;
    font-size: clamp(16px, 0.938vw, 22px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.mb-8 {
    margin-bottom: 8px;
}
.course-detail-section .course-detail-wrapper .course-tabs-wrapper .faq-block .accordion-button.collapsed {
    border-radius: 0px;
    padding: clamp(10px, 0.625vw, 30px);
    padding-left: clamp(42px, 2.5vw, 60px);
    margin: 0;
}
.course-detail-section .course-detail-wrapper .course-tabs-wrapper .faq-block .accordion-button {
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: relative;
    color: #45474F;
    background: #FFFFFF;
    padding: clamp(10px, 0.625vw, 30px);
    padding-left: clamp(42px, 2.5vw, 60px);
    border-radius: clamp(4px, 0.417vw, 16px);
    font-family: "Inter", sans-serif;
    font-size: clamp(16px, 0.938vw, 22px);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.course-detail-section .course-detail-wrapper .course-tabs-wrapper .faq-block .accordion-button.collapsed {
    border-radius: 0px;
    padding: clamp(10px, 0.625vw, 30px);
    padding-left: clamp(42px, 2.5vw, 60px);
    margin: 0;
}
.course-detail-section .course-detail-wrapper .course-tabs-wrapper .faq-block .accordion-button {
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: relative;
    color: #45474F;
    background: #FFFFFF;
    padding: clamp(10px, 0.625vw, 30px);
    padding-left: clamp(42px, 2.5vw, 60px);
    border-radius: clamp(4px, 0.417vw, 16px);
    font-family: "Inter", sans-serif;
    font-size: clamp(16px, 0.938vw, 22px);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.course-detail-section .course-detail-wrapper .course-tabs-wrapper .faq-block .faq-detail-block {
    padding: 0;
}
.course-detail-section .course-detail-wrapper .course-tabs-wrapper .faq-block .faq-detail-block li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: clamp(10px, 0.833vw, 32px) clamp(8px, 0.625vw, 16px);
}
.gap-16 {
    gap: clamp(12px, 0.833vw, 32px);
}
a {
    display: inline-block;
    text-decoration: none;
    color: unset;
    transition: all 0.3s ease-in-out;
}
.course-detail-section .label-tag {
    display: inline-block;
    padding: 8px 12px;
    border-radius: clamp(2px, 0.208vw, 8px);
    background: #D5D52C;
    color: #004439;
    cursor: pointer;
}
.text-18, p {
    font-family: "Inter", sans-serif;
    font-size: clamp(16px, 0.938vw, 22px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.course-detail-section .course-detail-wrapper .course-tabs-wrapper .nav .nav-item .nav-link.active {
    font-weight: 500;
    background: #004439;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;
    border: 0px;
}
.course-detail-section .course-detail-wrapper .course-tabs-wrapper .nav .nav-item .nav-link.active {
    font-weight: 500;
    background: #004439;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;
    border: 0px;
}